.App{
    padding: 0;
}

.App-header{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.logo-container{
    margin: auto;
    padding: 15px 0 15px 30px;
    text-align: end;
}
.App-title{
    padding-left: 15px;
}

.MovieCard{
    padding: 120px 0 120px 0;
    text-align: center;
    background: url('https://image.tmdb.org/t/p/original/jrudoaXcoLyHRPdolyOGemXgPEs.jpg');
    background-size: 100%;
}

.meta-data-container{
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: white;
}
h2{
    padding: 30px 0 10px 0;
}

.release-details{
    margin:0;
}

.poster{
    width:auto;
    height:350px;
}
.poster-container{
    margin: auto;
}
.poster-container .poster{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.info-container{
    padding: auto;
}


.active-green-3 input[type=text] {
    border: 1px solid #01d277;
    box-shadow: 0 0 0 1px #01d277;
    background-color:black;
    color:white;
    }
    
.active-green-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #01d277;
        box-shadow: 0 0 0 1px #01d277;
        background-color:black;
        color:white;
        }

#form-autocomplete {

}

.mdb-autocomplete {
    position: relative;
}

.mdb-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid #01d277;
  }
.mdb-autocomplete-items div:hover {
  
    background-color: #01d277;
}