.App{
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.App-header{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.logo-container{
    margin: auto;
    padding: 15px 0 15px 0;
    text-align: end;
}

.App-title{
    padding-left: 15px;
}

.MovieCard{
    padding: 120px 0 120px 0;
    text-align: center;
    background: url('https://image.tmdb.org/t/p/original/jrudoaXcoLyHRPdolyOGemXgPEs.jpg');
    background-size: cover;
    background-position: center center;
}

.poster{
    width:auto;
    height:350px;
}
.poster-container{
    margin: auto;
}
.poster-container .poster{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.info-container{
<<<<<<< HEAD
    padding: auto;
}


.active-green-3 input[type=text] {
    border: 1px solid #01d277;
    box-shadow: 0 0 0 1px #01d277;
    background-color:black;
    color:white;
    }
    
.active-green-4 input[type=text]:focus:not([readonly]) {
        border: 1px solid #01d277;
        box-shadow: 0 0 0 1px #01d277;
        background-color:black;
        color:white;
        }

#form-autocomplete {

}

.mdb-autocomplete {
    position: relative;
}

.mdb-autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid #01d277;
  }
.mdb-autocomplete-items div:hover {
  
    background-color: #01d277;
=======
    padding: 10px;
}
.meta-data-container{
    margin: auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: white;
}

/* text edition */
.tagline{
    display: block;
    color: #01d277;
    font-size: 1.2rem;
}
.genre-list{
    padding: 10px;
    display: block;
    color: #01d277;
    font-size: 1.2rem;
}
.meta-data{
    display: block;
    color: #01d277;
    font-size: 1.2rem;
}
h2{
    padding: 30px 0 10px 0;
}
p{
    margin: 0;
    padding: 15px 0 0 0;
}
.release-details{
    margin:0;
}
.additional-details{
    margin: 15px 0 15px 0;
>>>>>>> 0419932c36e6312c57c2739fe03689168788a8aa
}