footer{
    height: 50px;
    background: url("../src/styles/gplaypattern.png");
    text-align: center;
}
#repo-link{
    color: #0b417a;
    font-size: 0.7rem;
}

.dropdown-menu {
    /* padding-top: 5px; */
    cursor: pointer;
    background-color: white;
    /* border-bottom: 2px solid #0b417a; */
    color: #0b417a;
    /*opacity: 0.85;*/
    width:92%;
  }